
/* ---------------------------------------------------
    SEARCH PAGE STYLE
----------------------------------------------------- */
.dropdown_tab{
  color: black !important;
}
.product_card{
  margin: 10px;
}
.card_clickable{
  cursor: pointer;
  border: solid rgb(70, 70, 70) 1px;
}
.sortby_btn{
  background-color: lightgrey;
}
.category_link{
  color: rgb(126, 126, 126);
}
.category_link:hover{
  color: rgb(79, 79, 215);
  cursor: pointer;
  text-decoration: none;
}