/* ---------------------------------------------------
    TOP BAR STYLE
----------------------------------------------------- */
.sidebar_btn{
  background-color: #8D75BD;
  color: #FEE6EB;
  font-size: 28px;
  line-height: 26px;
  text-align: center;
  height: 40px;
  width: 55px;
  margin: 5px;
}
.sidebar_btn:focus {
  outline: none;
  outline-offset: none;
  box-shadow: none;
  background-color: #8D75BD;
  color: #FEE6EB;
}
.sidebar_btn:hover{
  background-color: #67558b;
}

/* .search_bar{
  font-size: 15px;
} */
.nav_icon{
  margin: 5px;
  color: #e097a6;
}
/* .nav_icon:hover{
  color: #67558b;
} */
.navbar_right{
  margin-left: auto;
  margin-right: 10px;
}
.search_nav_item{
  width: 400px;
}
#Popover_user:hover{
  cursor: pointer;
}