.App {
  display: flex;
  width: 100%;
  align-items: stretch;
}
html, body, #root, .wrapper {
  height:100%;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  /* padding: 20px; */
  margin-right: 0px;
  margin-right: 20px;
  height: 100vh;
  margin-left: auto;
  transition: all 0.5s !important;
}
.content.is-open {
  margin-left: 200px !important;
  transition: 0.5s !important;
}


@media only screen and (max-width: 500px) {
  body {
    overflow: hidden;
  }

  
  .content.is-open {
    margin-left: 100%;
    margin-left: 200px;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}

.bg-gradient-theme {
  background: linear-gradient(to bottom, #d8919f, #909ddd);
}

.bg-gradient-theme-left {
  background: linear-gradient(to left, #d8919f, #909ddd);
}

.no_herf_link:hover{
  text-decoration: none;
  color: black;
}
.no_herf_link:hover {
  cursor: pointer;
  color: #0052cc;
}


/* ---------------------------------------------------
    PUBLISH PAGE STYLE
----------------------------------------------------- */
.close_image{
  margin-left: auto; 
  margin-right: 0;
}

/* ---------------------------------------------------
    Addtags PAGE STYLE
----------------------------------------------------- */
.tags-input {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 48px;
  width: 100%;
  padding: 0 8px;
  border: 1px solid #d6d8da;
  border-radius: 6px;
}
.tags-input:focus-within {
  border: 1px solid #0052cc;
}
.tags-input input {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 14px;
  padding: 4px 0 0 0;
}
.tags-input input:focus {
  outline: transparent;
}
#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}
.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: #b47990;
}
.tag .tag-close-icon {
  font-style: normal;
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: #b47990;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

/* ---------------------------------------------------
    SEARCH PAGE STYLE
----------------------------------------------------- */
.dropdown_tab{
  color: black;
}
.product_card{
margin: 10px;
}
.card_clickable{
cursor: pointer;
}
.sortby_btn{
background-color: lightgrey;
}